/* Navigation styles */

/*
.nav_menu_tablet:checked ~ div{
    display: none;
}
*/

/*
.nav_menu_tablet_label {
    display: none;
}*/

/*
.nav_menu_desktop_label {
    display: block;
}
*/

/*
.nav_menu_desktop_label:hover {
      color: #FFA500;    #FF4500;  #4682b4;
}
*/


.main_container {
      display: flex;
      padding-top: 1rem;
      padding-bottom: 1rem;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      flex-direction: row;
      flex-wrap: wrap;
}

.left_container {
    width: 47%; /* 67%; */
}

.right_container {
    width: 47%; /* 32%; */
    float: right;
    margin-top: 0rem;
    margin-left: 1%;
}

.left_subcontainer {
    width: 40%;
}

.right_subcontainer {
    width: 50%;
}

.center_container {
    margin-left: 20rem;
    margin-right: 20rem;
    margin-bottom: 5rem;
}
