/* Navegation styles */

.nav_menu_tablet:checked ~ div{
    display: none;
}

.nav_menu_tablet_label {
    display: none;
}

.nav_menu_desktop_label {
    display: block;
}

.nav_menu_desktop_label:hover {
      color: #FFA500;
/*    color: #FF4500;*/
/*    color: #4682b4;*/
}


.main_container {
      display: flex;
      padding-top: 1rem;
      padding-bottom: 1rem;
      padding-left: 0rem;
      padding-right: 0rem;
      flex-direction: row;
      flex-wrap: wrap;
}


.top_left_container {
    width: 60%;
}

.top_right_container {
    width: 34%;
}

.top_right_container {
    float: right;
    margin-top: 0rem;
    margin-left: 1%;
    margin-right: 5%;
    text-align: right;
}

.right_container {
    float: right;
    margin-top: 0rem;
    margin-left: 1%;
}

.left_container {
    width: 67%;
    text-align:justify
}

.right_container {
    width: 32%;
    text-align:justify
}

.left_subcontainer {
    width: 40%;
}

.right_subcontainer {
    width: 50%;
}
