/* Navegation styles */

.nav_menu_tablet:checked ~ div{
    display: none;
}

.main_container {
      display: flex;
      padding-top: 6rem;
      padding-bottom: 6rem;
      padding-left: 10rem;
      padding-right: 10rem;
      flex-direction: row;
      flex-wrap: wrap;
}

.right_container {
    float: right;
    margin-top: 0rem;
    margin-left: 2%;
}

.left_container {
    width: 46%;
}

.right_container {
    width: 46%;
}
