/* Import google fonts */

/* @import url('https://fonts.googleapis.com/css?family=Cormorant&display=swap');*/

/* Color variables */

/* 4682b4 steel blue */

:root {
/* Header */
    --title-color: #2F539B;
    --text-header-color: #2F539B;
    --text-color-hover: #ffaa1d;
    --text-color-hover-body: #ffaa1d; /* Bright Yellow (Crayola) */
    --nav-border-bottom: var(--nav-border-bottom); /* light grey */


/* Text */
    --text-color: #2F539B;
    --text-color-section-heading: #2F539B;

/* Footer */
    --text-color-footer: #2F539B;

/* Background */
    --top-background-color: white;
    --header-background-color: white;
    --primary-background-color: white; /* #fffdfa; */
    --secondary-background-color: #d5d0c8; /* #fff7ea; /*#ffc76a; #6680B5; #194090; #6680B5*/
    /* #172A3A #BDBEA9 #8DB38B #D2AB99 #507DBC #28436F #696773 #194090 #e9b44f #4e5b37 #cce1bb*/
    /* #ffefca#d9ebfb;  very light blue */  /* #ffaa1d; Bright Yellow (Crayola) */
    --footer-background-color: #d5d0c8;  /* #fafafa; */

/* bar on main page */
    --bar-text-color: #2F539B; /* #000045; dark blue */

/* talks and video */
    --talks-color: #99ccff; /* light blue */
/* Subscribe form */
    --subscribe-form-color: #2196f3; /* light blue */
}

/* Global styles */


* { /* standard - do not change */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-weight: lighter;
    height: 100%;
    font-size: 62.5%; /* standard - do not change */
    color: var(--text-color);
    background: var(--primary-background-color);
}

body {
    font-size: 160%;
    font-family: 'Times New Roman', serif;
}

header {
    font-family: 'Times New Roman', serif;
    font-size: 2.0rem;
    color: var(--text-header-color);
    background-color: var(--header-background-color);
    padding-top: 0vw;
/*  background-image: url(../images/birch_finland_kilpisjarvi_lake_and_trees_during_fall_hd_nature-2560x1440_crop1.jpg); */
}

footer {
    font-family: 'Times New Roman', serif;
    font-size: 1.2rem;
    text-align: left;
    background-color: white;
    padding-bottom: 1rem;
/*    height: 5rem; */
}

h1 {
    font-family: 'Times New Roman', serif;
    font-size: 3.2rem;
    font-weight: bold;
    color: var(--title-color);
}

h2 {
    font-family: 'Times New Roman', serif;
    color: var(--text-color-section-heading);
}

h3 {
    font-family: 'Times New Roman', serif; /* 'Libre Baskerville'; */
    font-size: 2.2rem;
    color: var(--text-color-section-heading);
}

a {
    color: blue;   /* inherit; */
    text-decoration: none;
}

a:link {
  color: #2f6048; /*#408262;*/
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #2f6048;
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: #2f6048;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
    color: var(--text-color-hover);
}

.main_container a:hover {
    color: var(--text-color-hover-body);
}

a:active {
    color: var(--text-color-hover);
}


/* svg */
rect {
    fill:black;
}


/* Class styles */

/*==================================================================================================================================================*/
/* Header styles */

.header_index {
      padding-top: 2rem;
}

/*==================================================================================================================================================*/
/* Title styles */

.main_title {
    padding-bottom: 1cm;
    color: var(--title-color);
    height: auto;
    margin-top: 0rem;
}

/* Navigation bar style */

.nav {
/*    border-bottom: 0.01rem solid #c9c9c9; */
}

/* Phone */

.nav_toggle {
    position: static;
    cursor: pointer;
    margin: 0 1rem;
}

.nav_toggle svg {
    width: 2rem;
}

.nav_toggle .menu {
    border-radius: 9.2rem;
    background: transparent;
}

.nav_toggle .close {
    display: none;
    border-radius: 9.2rem;
    background: transparent;
}

.nav_toggle .close,
.nav_toggle .menu {
    margin-top: 1.3rem;
    margin-left: 1.2rem;
}


.nav_checkbox {
    display: none;
}


/* Laptop Tablet */

.nav_menu {
    display: flex;
    flex-direction: column;
    gap: 0rem;
    align-items: left;
    margin-right: 1rem;
    padding: 0.4rem;
    padding-left: 1.4rem;
}

.nav_menu_home {
    display: flex;
    flex-direction: column;
    gap: 0rem;
    align-items: left;
    margin-right: 1rem;
    padding: 0.4rem;
    padding-left: 1.4rem;
}

.nav_menu_home a {
/*    padding-left: 2rem; */
    color: #2F539B;
}

.nav_menu_home > li {
    list-style-type: none;
    display: none;
    padding: 0.4rem;
    min-width: 12rem;
}

.nav_detailed summary {
/*  background: var(--primary-background-color); */
    cursor: pointer;
    list-style: none;
    text-align: left;
    padding: 0.5rem;
    padding-left: 1.5rem;
    color: var(--title-color);
}

.nav_detailed > ul {
    margin-left: 2rem;
    color: var(--title-color);
}

.subnav_detailed {
    text-align: left;
}

.subnav_detailed li{
    margin: 1rem;
}

.nav_detailed summary::-webkit-details-marker {
  display: none;
}

.nav_dropdown {
    display: none;
}

.nav_dropdown:hover {
    color: var(--text-color-hover);
}

.nav_menu_tablet{
    display:none;
}


/* Title containers */
.top_left_container {
    text-align: left;
    margin-left: 2rem;
    margin-right: 2rem;
}

.top_left_container_tablet{
    display: none;
}

/*==================================================================================================================================*/
/* Body styles for specific items */

/* Indentation and padding for lists */
.list {
    padding-left: 2rem;
}
.list li {
    padding-top: 1rem;
}


/*==================================================================================================================================*/
/* Body containers styles */

.main_container {
    font-family: 'Times New Roman', serif;
    margin: 2rem 2rem 2rem 2rem;
    padding-bottom: 2rem;
}

.main_container p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.top_container {
    font-family: 'Times New Roman', serif;
    margin: 2rem 2rem 2rem 2rem;
    padding-bottom: 2rem;
}

.top_container p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.left_container_small,
.right_container_small {
    border-radius: 0rem;
}

.left_container {
}

.right_container{
}

.left_container_small {
    margin-top: 2rem;
    display: flex;
    padding-top: 0rem;
    padding-bottom: 3rem;
    padding-right: 2rem;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: var(--box-background-color);
}

.right_container_small {
    margin-top: 2rem;
    padding-top: 0rem;
    padding-bottom: 3rem;
    padding-right: 2rem;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: var(--box-background-color);
}

.left_subcontainer {
    margin-top: 1rem;
    margin-left: 0rem;
/*    display: flex; */
    padding-top: 0rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
    padding-right: 0.5rem;
}

.small_subcontainer {
    margin-top: 1rem;
    margin-left: 0rem;
/*    display: flex; */
    padding-top: 0rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
    padding-right: 0.5rem;
}

.right_subcontainer {
    margin-top: 1rem;
    margin-left: 1rem;
/*    display: flex; */
    padding-top: 0rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
    padding-right: 0rem;
}

.left_container_small ol,
.left_container_small ul{
    margin: 1rem;
}

.left_container_small li > ol {
    margin: 2rem;
}

.center_container {
    font-family: 'Times New Roman', serif;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 3rem;
    background-color: white;
}

.flexrow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/*==============================================================================================================*/
/* Footer */

body {
    min-height: 100vh;
    margin: 0;
    position: relative;
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
}

/*==============================================================================================================*/

/* Footer containers */

.credits_container {
    bottom: 0;
/*    position: fixed; */
    width: 100%;
    height: 2rem;
    padding: 1.5rem;
    padding-left: 2.5rem;
    color: var(--text-color-footer);
    background-color: white;
}

.credits_container a {
    padding-left: 1.5rem;
}

.credits_container_desktop {
    display: none;
}



/*==============================================================================================================*/

/* Subscribe screen */

.button
    {
      width: 15rem;
      padding: 0.4rem;
      padding-left: 1rem;
      padding-right: 1rem;
      color: black;
      background-color: transparent;
/*       box-shadow: -8px 8px 10px 3px rgba(0,0,0,0.2); */
      border: 1px solid blue;
      border-box: black;
      border-style: solid;
      border-color: #ffaa1d; /* #2F539B; */ 
      border-radius: 0.5rem;
    }

    #cover{
      position:fixed;
      top:0;
      left:0;
      background:rgba(0,0,0,0.6);
      z-index: 5;
      width: 100%;
      height: 100%;
      display: none;
    }

    #subscribeScreenPhone
    {
      display: none;
      font-size: 120%;
      height: 28rem;
      width: 90vw;
      margin: 0 auto;
      position: fixed;
      left: 5vw;
      top: 10rem;
      z-index: 10;
/*      border: 0.4rem solid #cccccc; */
      border-radius: 0.5rem;
      padding-left: 1%;
      padding-top: 20rem;
      background-color: white;
    }

    #subscribeScreen{
       display: none;
    }

    #subscribeScreenPhone:target, #subscribeScreenPhone:target + #cover{
      display: block;
      opacity: 2;
    }

    #subscribeScreenPhone, #subscribeScreen > div {
        padding-top: 10rem;
        padding-left: 3rem;
    }

    .cancel
    {
      display:block;
      position:absolute;
      top:3px;
      right:2px;
      color:black;
      height:3rem;
      width:3.5rem;
      font-size:3rem;
      text-align:center;
      font-weight:bold;
    }

    .cancel:hover {
      color: var(--secondary-background-color);
    }

/* Subscribe form */

/*
    input[type=text] {
      width: 60%;
      margin: 0rem 0;
      padding: 0.5rem 0.5rem;
      box-sizing: border-box;
      border-radius: 0rem;
    }

    button[type=button] {
      font-family: inherit;
      font-size: 100%;
      width: 10rem;
      padding: 0.3rem;
      padding-left: 1rem;
      padding-right: 1rem;
      color: black;
      background-color: var(--subscribe-form-color);
      border-box: black;
      border-style: solid;
      border-color: var(--subscribe-form-color);
      border-radius: 0.5rem;
      box-sizing: border-box;
    }

.subscribe_button:hover {
      color: white;
}
*/


/*==============================================================================================================*/

/* Id styles */

#nav_checkbox:checked ~ form > ul.nav_menu li {
    display: block;
}

/* do we need the next item? I copied it from the previous one when adding nav_menu_home */
#nav_checkbox:checked ~ form > ul.nav_menu_home li {
    display: block;
}

#nav_checkbox:checked ~ label.nav_toggle .close {
    display: inline;
}

#nav_checkbox:checked ~ label.nav_toggle .menu {
    display: none;
}

/* home icon phone */

#house {
    float: right;
    padding: 2.2rem;
}

#house > svg {
    width=25;
    height=25;
}

#subnav_reset {
    display:none;
}

#list_item_right {
    min-width: 10rem;
}

#list_item_min {
    min-width: 2rem;
    padding-top: 0rem;
    padding-bottom: 0rem;
}


.radio {/* Anda*/
    display: flex;
}

#fullScreenContainer {/* Anda*/
    text-align: left;
}

#controlContainer {/* Anda*/
    background-color: var(--talks-color);
    padding: 1.33rem;
/*    padding:10pt; */
    color: black;
    display: block;
    text-align: left;
}

.forminput { /* Anda*/
    padding: 0.4rem;
/*    padding:3pt; */
}

.searchdiv {/* Anda*/
    width: 90%;
    text-align: left;
}

#visContainer {/* Anda*/
    text-align: left;
    max-width: 200rem;
    margin: auto;
}
#visContainerVid {/* Anda*/
    text-align: left;
    max-width: 200rem;
    margin: auto;
}
#visContainerB {/* Anda*/
    text-align: left;
    max-width: 200rem;
    margin: auto;
}


#confe {/* Anda*/
    text-align: center;
    max-width: 200rem;
    margin: auto;
    background-color: var(--secondary-background-color);
    color: black;
    padding: 0.3rem;
    font-size: larger;
}

.video {
      padding: 2rem;
}

#controlContainerV {/* Anda*/
    background-color: var(--talks-color); /* #315880; */
    padding: 0.8rem;
    color: white;
    display: block;
    text-align: left;
}

#controlContainerB{/* Anda*/
    background-color: var(--talks-color);
    padding: 0.8rem;
    color: white;
    display: block;
    text-align: left;
}


.blog {/* Anda*/
    padding: 1rem;

}

.entry_title{/* Anda*/
    color:black;
    background-color: #d9ebfb;
}
