/* Color variables */

:root {
/* Header */
    --title-color: white; /* #ffba00;  yellow    #ffa500; yellow-orange */
    --text-header-color: white; /* #2c3863; */
    --text-color-hover: #ffa500; /* this is yellow */

/* #ffaa1d; */ /* Bright Yellow (Crayola) */
/* #002f6c; */ /* navy blue */

/* Text */
    --text-color: black;
    --text-color-section-heading: #2c3863; /* this is dark purple-blue */

/* Footer */
    --text-color-footer: black;

/* Need this? */
    --text-border-color: #2c3863;  /* this is dark purple-blue */

/* Background */
    --primary-background-color: #fafafa; /* light grey */ /* #fff8e7; */ /* light yellow */ /* #cfd7e3; grey   #F8F8FF; very light   #e4e9fa; #FFFAFA; #eaecfd; #eaedfa; #e6e9f9; */
    --secondary-background-color: #315880; /* very dark blue */ /* #636363; */ /* #276fae; */ /* this is dark blue */ /* #226097; /*#4E80AC; /* dark blue /*#003366; /*#DCDCDC; #F8F8FF;*/
    --box-background-color: white;
    --footer-background-color:#fafafa; /* #276FAE; /* same dark blue like for header/*#f4f0ec; /* #fdfdfc */
}

/* Global styles */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

body {
    font-weight: lighter;
    height: 100vh;
}

html {
    font-size:  62.5%; /* 58%; */
    color: var(--text-color);
    background: var(--primary-background-color);
}

header {
    font-family: 'Quicksand';
    font-size: 1.8rem;
    color: var(--text-header-color);  /* dark blue #FF4500; #FF4500; #FFE4B5; #F4A460; #4682b4; */
    background-color: #315880;
/*    background-image: url(../images/birch_finland_kilpisjarvi_lake_and_trees_during_fall_hd_nature-2560x1440_crop1.jpg); */
    /* url(../images/P1271882_01_test3.png);  url(../images/P1271882_01.jpg); */
    background-size: cover;
    padding-top: 0vw;
    /* background-color: #F8F8FF; #0066B3; #ea9999; */
}

footer {
    font-family: 'Quicksand';
    font-size: 1.2rem;
    text-align: left;
    background-color: var(--footer-background-color); /* #ffcb77; */
    height: 5rem;
}

h1 {
    font-family: 'Quicksand'; /* Arial; */ /*"Comic Sans MS"; Times; Arial */  /*Add second options for the font*/
    font-size: 32px;
    font-weight: bold;
    color: var(--title-color); /*  color: white; */   /*Was not already defined by the global selector html*/
}

h2 {
    font-family: 'Quicksand'; /*Arial; /*Times; */
    color: var(--text-color-section-heading);
}

h3 {
    font-family: 'Quicksand'; /* 'Libre Baskerville'; /* Arial; /*Times; */
    font-size: 22px;
    color: var(--text-color-section-heading);
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: var(--text-color-hover); /* color: #FF4500; #4169E1; #4682b4; */
}

a:active {
    color: var(--text-color-hover);
}

rect {
    fill:white;
}


/* Class styles */

/*==================================================================================================================================================*/
/* Header styles */

.header_index {
    padding-top: 10vw;
}

/*==================================================================================================================================================*/
/* Title styles */

.main_title {
    padding-bottom: 1cm;
/*    text-align: center; */
    /* This sends the title to the left in all the devices (unless specified in tablet or desktop), creates a conflict in the phone version */
/* left: 50vw; */
    color: var(--title-color);
    height: auto; /* height: 40vh; height: 50vh; */
    margin-top: 0rem;
}

/* Navigation bar style */

.nav {  /*Why we erase the styles for the navigation bar? -Miguel
    I added a colored bottom line again, but the background color does not actually appear anyway -Philipp
    background-color: #0066B3; */
/*  border-top: 1px solid var(--text-color-hover); */
    border-bottom: 0.1rem solid green;
}

/* Phone */

.nav_toggle {
    position: static;
    cursor: pointer;
    margin: 0 1rem;
/*    right: 0; */
}

.nav_toggle svg {
    width: 2rem;
}

.nav_toggle .menu {
    border-radius: 92px;
    background: transparent;
/*   linear-gradient(145deg, #ffcb77, #e6ab64);
    box-shadow:  1px 1px 2px #d9a25e,
                -1px -1px 2px #ffdb80;*/
}

.nav_toggle .close {
    display: none;
    border-radius: 92px;
    background: transparent;
/*    box-shadow: inset 1px 1px 2px #d9a25e,
                inset -1px -1px 2px #ffdb80;*/
}

.nav_toggle .close,
.nav_toggle .menu {
    margin-top: 1.3rem;
    margin-left: 1.2rem;
}


.nav_checkbox {
    display: none;
}


/* Laptop Tablet */

.nav_menu {
    display: flex;
    flex-direction: column;
    gap: 0rem; /* problem: this is a horizontal gap on laptop and vertical gap on phone */
    align-items: left;
/*    margin: 1rem; */
    margin-right: 1rem;
    padding: 0.4rem;
    padding-left: 1.4rem;
   /* height: 0px;*/ /*Why we added this line? this is the one responsible for non-dinamic neght of the menu. maybe in the desktop version we need it*/
/*    height: 10vh; */
}

.nav_menu > li {
    list-style-type: none;
    display: none;
    /* Style for menu phone*/
    padding: 0.4rem;
    /*border-radius: 19px;*/
/*     background: #ffbe6f; */
/*    box-shadow:  12px 12px 40px #d9a25e,
                -12px -12px 40px #ffdb80; */
    min-width: 12rem;
}

/*.nav_menu > li:first-child {
    margin-right:auto;
    display: block;
    min-width: 0rem;
}*/

.menu_logo {
    height: 3rem;
}

.menu_logo img {
    height: 100%;
}

.nav_detailed summary {
    cursor: pointer;
    list-style: none;
    text-align: left;
/*    background: var(--primary-background-color); */
    padding: 0.5rem;
    padding-left: 1.5rem;
    color: white;
}

.nav_detailed > ul {
    margin-left: 2rem;
    color: white;
    /*padding: 5px;*/
/*    border-radius: 19px;*/
/*    background: #ffbe6f;
    box-shadow: inset 12px 12px 40px #d9a25e,
            inset -12px -12px 40px #ffdb80;*/
}


.subnav_detailed {
    text-align: left;
}

.subnav_detailed li{
    margin: 1rem;
}

.nav_detailed summary::-webkit-details-marker {
  display: none;
}

.nav_dropdown {
    display: none;
}

.nav_menu_tablet{
    display:none;
}




/*==================================================================================================================================*/
/* Body styles for specific items */

/* Indentation and padding for lists */
.list {
    padding-left: 2rem;
}
.list li {
    padding-top: 1rem;
}


/*==================================================================================================================================*/
/* Body containers styles */

/* The next one should be adapted for phone. This is the tablet version copied here. */
.top_left_container {
    width: 90vw;
    text-align: left;
    margin-left: 2rem;
    margin-right: 2rem;
}

.main_container {
    font-family: 'Quicksand'; /* 'Libre Baskerville'; /* -apple-system; */
    margin: 2rem 2rem 2rem 2rem;
    font-size: 1.6rem;
    text-align: justify; /* responsible for justify versus left align in main container */
}

.main_container p {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.left_container_small,
.right_container_small{
/*    background-color: #F8F8FF; */
/*    background-color: #E6ECF0; */
    border-radius: 5px;
}


.left_container {
}


.right_container{
    margin-top: 2%;
}

/*.bottom_container ol {
    margin-top: 1rem;
    padding-bottom: 2rem;
}

.bottom_container ol {
    padding-left: 2rem;
}*/

.left_container_small {
    margin-top: 2rem;
    display: flex;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-right: 2rem;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: var(--box-background-color);
/*    background-color: #F8F8FF;*/
/*        background-color: #e6e9f9;*/
}

.right_container_small {
    margin-top: 2rem;
/*  display: flex; */
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-right: 2rem;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: var(--box-background-color);
/*    background-color: #F8F8FF;*/
/*    background-color: #e6e9f9;*/
}

.left_subcontainer {
    margin-top: 1rem;
    margin-left: 0%;
    display: flex;
    padding-top: 0rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
    padding-right: 0rem;
    flex-direction: row;
    flex-wrap: wrap;
}

.right_subcontainer {
    margin-top: 1rem;
    margin-left: 2%;
    display: flex;
    padding-top: 0rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
    padding-right: 0rem;
    flex-direction: row;
    flex-wrap: wrap;
}

.left_container_small ol,
.left_container_small ul{
    margin: 1rem;
}

.left_container_small li > ol {
    margin: 2rem;
}

.center_container {
    font-family: 'Quicksand'; /* 'Libre Baskerville'; */
     /*width: 70vw;*/
     margin-left: 3rem; 
     margin-right: 3rem; 
    margin-bottom: 3rem;
    background-color: white; /* #fff8e7; */ /* #fff8dc; */ /* #fae7b5; */
}



/* Form styles for main page */

.newsletter_form {
    display: flex;
}


input[type=text] {
  width: 50%;
  margin: 0px 0;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid grey;
  border-radius: 0px;
  outline: none;
}

button[type=button] {
  width: 20%;
  margin-left: 0px;
  box-sizing: border-box;
  border: 0px solid #ffa500;
  border-radius: 0px;
  color: white;
  background-color: grey;
}

/*==============================================================================================================*/

/* Footer containers*/

.credits_container {
    height: 2rem;
    padding: 1.5rem;
    padding-left: 5.6rem;
    color: var(--text-color-footer);
}

.credits_container a {
    padding-left: 3rem;
}


/*==============================================================================================================*/

/* Id styles */

#cntrolContainer { /* Anda*/
    background-color: #276fae;
    text-align: left;
    display: block;
    padding: 10px;
    color: white;
}
#confe {/* Anda*/
    text-align: center;
    max-width: 2000px;
    margin: auto;
    background-color: #276fae;
    color: white;
    padding: 3px;
    font-size: larger
  
  }

#nav_checkbox:checked ~ form > ul.nav_menu li {
    display: block;
}

#nav_checkbox:checked ~ form > ul.nav_menu #landing_page_symbol {
    display: none;
}

#nav_checkbox:checked ~ label.nav_toggle .close {
    display: inline;
}

#nav_checkbox:checked ~ label.nav_toggle .menu {
    display: none;
}

#landing_page_symbol {
    display: none;
}


#subnav_reset {
    display:none;
}


.radio {
    display:flex;
}

#fullScreenContainer {
    text-align: left;
}

#controlContainer {
    background-color: #276fae; 
    padding:10pt; 
    color:white; 
    text-align: left;
}

.forminput {
    padding:3pt;
}

.searchdiv {
    width: 90%;
    text-align: right;
}

#visContainer {
    text-align: left; 
    max-width: 2000; 
    margin: auto;
}

#confe {
    text-align: center;
    max-width: 2000px; 
    margin: auto;
}