

/* Global styles */

header {
    padding-top: 7.1rem;
}

h1 {
    font-size: 4.7rem;
    font-weight: 900;
}

.main_container {
      font-size: 105%;
      text-align: justify;
      display: flex;
      padding-top: 1rem;
      padding-bottom: 5rem;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      flex-direction: row;
      flex-wrap: wrap;
}

.top_container {
      font-size: 105%;
      text-align: justify;
      display: flex;
      padding-top: 1rem;
      padding-bottom: 0rem;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      flex-direction: row;
      flex-wrap: wrap;
}

/*==================================================================================================================================================*/
/* Header styles */

.header_index {
      padding-top: 12rem;
}


/* Navigation styles */

.field_top{
  background: white; /*#fff7ea; */
  /* background-image: linear-gradient(to right, white, #5370AC); */
  /* background: var(--top-background-color); */
  position: fixed;
  top: 0rem;
  height: 15rem;
  width: 100%;
  margin: 0rem;
  margin-left: 0rem;
  padding-top: 0rem;
  padding-bottom: 3rem;
  padding-left: 4.8rem; /* 6.4rem; */
  gap: 2rem;
  display: flex;
  flex-direction: row;
}

.field_top_right{
    background: white; /* #fff7ea; */
/*  background-image: linear-gradient(to right, white, var(--secondary-background-color)); */
    width: 85%;
}

.nav_menu{
    background: var(--secondary-background-color);
    position: fixed;
    top: 0rem;
    width: 100%;
    margin: 0rem;
    margin-left: 0rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
    padding-left: 6.4rem;
    gap: 2rem;
    flex-direction: row;
}

.nav_menu_home{
    background: var(--secondary-background-color);
    position: fixed;
    top: 12rem;
    width: 100%;
    margin: 0rem;
    margin-left: 0rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
    padding-left: 6.4rem;
    gap: 2rem;
    flex-direction: row;
}


/*  hamburger and cross symbols for phone  */
.nav_toggle {
    display: none;
}

.nav_menu > li {
    padding: 0rem;
    text-align: left;
}

.nav_menu li {
    display: flex;
    flex-direction: row;
}

.nav_menu_home > li {
    padding: 0rem;
    text-align: left;
}

.nav_menu_home li {
    display: flex;
    flex-direction: row;
}

.nav_detailed {
    display: none;
}

.nav_dropdown {
    display: block;
    position: relative;
    background: var(--secondary-background-color);
    padding: 0.4rem;
    margin-top: 1rem;
}

.nav_dropdown_subscribe {
    display: block;
    position: relative;
    background: var(--secondary-background-color);
    padding: 0.4rem;
    margin-top: 1rem;
}

.nav_dropdown_content {
    display: none;
    position: fixed;
    min-width: 11rem;
    z-index: 1;
    right: inherit;
    border-radius: 0.5rem;
    padding: 0rem;
    padding-top: 1.2rem;
    padding-left: 1.1rem;
    padding-bottom: 3.2rem;
    left: 4.7rem;
    background: var(--secondary-background-color);
    gap: 0rem;
    margin-top: 2.4rem;
    border-top: 0.1rem white;
}

.nav_dropdown_content a {
    text-align: left;
    padding: 0.5rem 1.0rem;
    display: block;
    min-width: 14rem;
    max-width: 14rem;
    height: 3rem;
}



/* THE FOLLOWING STUFF IS NOT USED. ONLY LEFT FOR TEST PURPOSES */

.nav_background_box {
    display: none;
}

/*
.nav_dropdown:hover .nav_background_box {
    padding: 0.5rem 1rem;
    display: block;
    background-color: white;
    width: 100vw;
} */


.nav_background_box_left {
    display: none;
}

/*
.nav_dropdown:hover .nav_background_box_left {
    display: block;
    background-color: white;
    width: 47px;
} */


.nav_dropdown_content a:hover {
    color: var(--text-color-hover);
}

.nav_dropdown:hover {
    cursor: pointer;
}

.nav_dropdown_subscribe:hover {
    cursor: pointer;
}

.nav_menu_tablet:checked ~ div{
    display: flex;
    flex-direction: row;
}

.nav_menu_tablet_label {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.reset_label {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}


/*====================================================================================================================*/

/* Indentation and padding for lists */
.list {
    padding-left: 7rem;
}

.list li {
    padding-top: 1rem;
}


/*==================================================================================================================================*/


/* Body containers styles */


.left_container {
    width: 47%; /* 67%; */
    margin-bottom: 1rem;
    border-left: 0.05rem solid grey;
    border-top: 0.05rem solid grey;
}

.right_container {
    width: 47%; /* 32%; */
    /* float: right; */
    margin-top: 0rem;
    margin-left: 1%;
    margin-bottom: 1rem;
    border-left: 0.05rem solid grey;
    border-top: 0.05rem solid grey;
}

.left_container_small {
    margin-left: 2%;
    padding-left: 2rem;
/*    border-left: 0.05rem solid grey; */
}

.right_container_small {
    margin-left: 2%;
    padding-left: 2rem;
/*    border-left: 0.05rem solid grey; */
}

.right_container_small {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
}

.top_left_container {
    display: none;
    width: 100vw;
    margin-left: 5.7rem;
    text-align: center;
}

.top_right_container {}

.top_left_container_tablet {
    display: block;
    width: 100vw;
    margin-left: 5.7rem;
    text-align: center;
}

.main_container_title {
      display: flex;
      padding-top: 1rem;
      padding-bottom: 1rem;
      padding-left: 0.4rem;
      padding-right: 0rem;
      flex-direction: row;
      flex-wrap: wrap;
}

.center_container {
    margin-left: 3rem;
    margin-right: 0rem;
    margin-bottom: 1rem;
    padding: 5rem;
    padding-top: 1rem;
    border-left: 0.05rem solid grey;
    border-top: 0.05rem solid grey;
/*    border-right: 0.5px solid grey; */
}


/* Are the following used? */

.left_subcontainer {
    width: 48%;
}

.small_subcontainer {
    width: 30%;
}

.right_subcontainer {
    width: 48%;
}



.searchdiv {/* Anda*/
    text-align: right;
}


/* Footer containers*/

footer {
    background-color: var(--footer-background-color);
}




/* Blog */

.entry_title{/* Anda*/
    padding: 1rem;
}


/* Applies to all check inputs whose id starts with "menu_option_"*/
#nav_menu input[id *="menu_option"]:checked + span label.reset_label {
    display: block;
}


#list_item_min {
    display: block;
}

#subscribeScreenPhone{
  display: none;
}

#subscribeScreen
{
  font-size: 120%;
  height: 28rem;
  margin: 0 auto;
  position: fixed;
  top: 10rem;
  z-index: 10;
  display: none;
/*      border: 0.4rem solid #cccccc; */
  border-radius:0.5rem;
  padding-left: 1%;
  padding-top: 10rem;
  background-color: white;
}

#subscribeScreen
{
    width: 65vw;
    left: 17.5vw;
}

#subscribeScreen:target, #subscribeScreen:target + #cover{
  display:block;
}
