/* Navigation styles */

.nav_menu{
    position: fixed;
    top: 0;
    width: 100%; 
    margin: 0rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
}


.nav_toggle {
    display: none;
}

.nav_menu {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.nav_menu > li {
    /* Disable style for menu phone*/
    padding: 7px;
    border-radius: 10px;
    text-align: center;
}


.nav_menu li {
    display: block;
}

.nav_detailed{
    display: none;
}

.nav_dropdown {
    display: block;
    position: relative;
}

.nav_dropdown_content {
    display: none;
    position: absolute;
    min-width: 12rem;
    z-index: 1;
    right: 0;
    border-radius: 19px;
    background: #0066B3;
    box-shadow: inset 12px 12px 40px #004071,
            inset -12px -12px 40px #008cf5;


}

.nav_dropdown_content a {
    text-align: left;
    padding: 1rem 1rem;
    text-decoration: none;
    display: block;
}

.nav_dropdown:hover .nav_dropdown_content {
    display: block;
}

.nav_dropdown:hover {
        cursor: pointer;
}

.nav_menu_tablet_label:hover {
        cursor: pointer;
}

.nav_menu_tablet{
    display:none;
}

.nav_menu_tablet:checked ~ div{
    display: block;
}

.nav_menu_desktop_label {
    display: none;
}


/*====================================================================================================================*/

/* Body containers styles */

.main_container_title {
      display: flex;
      padding-top: 1rem;
      padding-bottom: 1rem;
      padding-left: 0rem;
      padding-right: 0rem;
      flex-direction: row;
      flex-wrap: wrap;
}
