/* Import google fonts */

@import url('https://fonts.googleapis.com/css?family=Cormorant&display=swap');

/* Color variables */

:root {
/* Header */
    --title-color: black; */ /* navy blue */ /* #ffaa1d; /* Bright Yellow (Crayola) */ /* #002f6c; /* navy blue */ /* #ffba00;  yellow    #ffa500; yellow-orange */
    --text-header-color: black; /* #2c3863; */
    --text-color-hover: white; /* #ffa500; /* this is yellow */
    --text-color-hover-body: #ffaa1d; /* Bright Yellow (Crayola) */

/* #ffaa1d; */ /* Bright Yellow (Crayola) */
/* #002f6c; */ /* navy blue */

/* Text */
    --text-color: black;
    --text-color-section-heading: black;

/* Footer */
    --text-color-footer: black;

/* Need this? */
    --text-border-color: #2c3863;  /* purple-blue */

/* Background */
    --header-background-color: white; /* Bright Yellow (Crayola) */
    --primary-background-color: white; /* #fafafa; light grey */ /* #fff8e7; */ /* light yellow */ /* #cfd7e3; grey   #F8F8FF; very light   #e4e9fa; #FFFAFA; #eaecfd; #eaedfa; #e6e9f9; */
    --secondary-background-color: #ffaa1d; /* Bright Yellow (Crayola) */ /* #315880; /* very dark blue */ /* #636363; */ /* #276fae; */ /* this is dark blue */ /* #226097; /*#4E80AC; /* dark blue /*#003366; /*#DCDCDC; #F8F8FF;*/
    --box-background-color: white;
    --footer-background-color:#fafafa; /* #276fae; /* same dark blue as for header/*#f4f0ec; /* #fdfdfc */
}

/* Global styles */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-weight: lighter;
    height: 100%;
    font-size: 62.5%; /* standard - do not change */
    color: var(--text-color);
    background: var(--primary-background-color);
}

body {
    font-size: 160%;
}


/*
html {
    font-size: 62.5%; /* standard - do not change
    color: var(--text-color);
    background: var(--primary-background-color);
}
*/

header {
    font-family: 'Cormorant';
    font-size: 2.0rem; /* 1.8rem; */
    color: var(--text-header-color);  /* dark blue #FF4500; #FF4500; #FFE4B5; #F4A460; #4682b4; */
    background-color: var(--header-background-color); /* #315880; */
/*    background-image: url(../images/birch_finland_kilpisjarvi_lake_and_trees_during_fall_hd_nature-2560x1440_crop1.jpg); */
    /* url(../images/P1271882_01_test3.png);  url(../images/P1271882_01.jpg); */

    padding-top: 0vw;
    /* background-color: #F8F8FF; #0066B3; #ea9999; */
}

footer {
    font-family: 'Cormorant';
    font-size: 1.2rem;
    text-align: left;
    background-color: var(--footer-background-color); /* #ffcb77; */
    height: 5rem;
}

h1 {
    font-family: 'Cormorant'; /* Arial; */ /*"Comic Sans MS"; Times; Arial */  /*Add second options for the font*/
    font-size: 3.2rem;
    font-weight: bold;
    color: var(--title-color); /*  color: white; */   /*Was not already defined by the global selector html*/
}

h2 {
    font-family: 'Cormorant'; /*Arial; /*Times; */
    color: var(--text-color-section-heading);
}

h3 {
    font-family: 'Cormorant'; /* 'Libre Baskerville'; /* Arial; /*Times; */
    font-size: 2.2rem;
    color: var(--text-color-section-heading);
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: var(--text-color-hover); /* color: #FF4500; #4169E1; #4682b4; */
}

.main_container a:hover {
    color: var(--text-color-hover-body);
}

a:active {
    color: var(--text-color-hover);
}

rect {
    fill:white;
}


/* Class styles */

/*==================================================================================================================================================*/
/* Header styles */

.header_index {
      padding-top: 2rem;
/*     padding-top: 10vw; */
}

/*==================================================================================================================================================*/
/* Title styles */

.main_title {
    padding-bottom: 1cm;
/*    text-align: center; */
    /* This sends the title to the left in all the devices (unless specified in tablet or desktop), creates a conflict in the phone version */
/* left: 50vw; */
    color: var(--title-color);
    height: auto; /* height: 40vh; height: 50vh; */
    margin-top: 0rem;
}

/* Navigation bar style */

.nav {
/*  border-top: 1px solid var(--text-color-hover); */
    border-bottom: 0.05rem solid green;  /* green; */
}

/* Phone */

.nav_toggle {
    position: static;
    cursor: pointer;
    margin: 0 1rem;
/*    right: 0; */
}

.nav_toggle svg {
    width: 2rem;
}

.nav_toggle .menu {
    border-radius: 9.2rem;
    background: transparent;
/*   linear-gradient(145deg, #ffcb77, #e6ab64);
    box-shadow:  1px 1px 2px #d9a25e,
                -1px -1px 2px #ffdb80;*/
}

.nav_toggle .close {
    display: none;
    border-radius: 9.2rem;
    background: transparent;
/*    box-shadow: inset 1px 1px 2px #d9a25e,
                inset -1px -1px 2px #ffdb80;*/
}

.nav_toggle .close,
.nav_toggle .menu {
    margin-top: 1.3rem;
    margin-left: 1.2rem;
}


.nav_checkbox {
    display: none;
}


/* Laptop Tablet */

.nav_menu {
    display: flex;
    flex-direction: column;
    gap: 0rem; /* problem: this is a horizontal gap on laptop and vertical gap on phone */
    align-items: left;
/*    margin: 1rem; */
    margin-right: 1rem;
    padding: 0.4rem;
    padding-left: 1.4rem;
   /* height: 0px;*/ /*Why we added this line? this is the one responsible for non-dinamic neght of the menu. maybe in the desktop version we need it*/
/*    height: 10vh; */
}

.nav_menu > li {
    list-style-type: none;
    display: none;
    /* Style for menu phone*/
    padding: 0.4rem;
    /*border-radius: 19px;*/
/*     background: #ffbe6f; */
/*    box-shadow:  12px 12px 40px #d9a25e,
                -12px -12px 40px #ffdb80; */
    min-width: 12rem;
}

/*.nav_menu > li:first-child {
    margin-right:auto;
    display: block;
    min-width: 0rem;
}*/

.menu_logo {
    height: 3rem;
}

.menu_logo img {
    height: 100%;
}

.nav_detailed summary {
    cursor: pointer;
    list-style: none;
    text-align: left;
/*    background: var(--primary-background-color); */
    padding: 0.5rem;
    padding-left: 1.5rem;
    color: var(--title-color);
}

.nav_detailed > ul {
    margin-left: 2rem;
    color: var(--title-color);
    /*padding: 5px;*/
/*    border-radius: 19px;*/
/*    background: #ffbe6f;
    box-shadow: inset 12px 12px 40px #d9a25e,
            inset -12px -12px 40px #ffdb80;*/
}


.subnav_detailed {
    text-align: left;
}

.subnav_detailed li{
    margin: 1rem;
}

.nav_detailed summary::-webkit-details-marker {
  display: none;
}

.nav_dropdown {
    display: none;
}

.nav_dropdown:hover {
    color: var(--text-color-hover);
}

.nav_menu_tablet{
    display:none;
}




/*==================================================================================================================================*/
/* Body styles for specific items */

/* Indentation and padding for lists */
.list {
    padding-left: 2rem;
}
.list li {
    padding-top: 1rem;
}


/*==================================================================================================================================*/
/* Body containers styles */

/* The next one should be adapted for phone. This is the tablet version copied here. */
.top_left_container {
    width: 90vw;
    text-align: left;
    margin-left: 2rem;
    margin-right: 2rem;
}

.top_left_container_tablet {
    display: none;
    width: 90vw;
    text-align: left;
    margin-left: 2rem;
    margin-right: 2rem;
}

.main_container {
    font-family: 'Cormorant'; /* 'Libre Baskerville'; /* -apple-system; */
    margin: 2rem 2rem 2rem 2rem;
    /* font-size: 1.6rem; */
    /* text-align: justify; responsible for justify versus left align in main container */
    min-height: 85vh;
}

.main_container p {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.left_container_small,
.right_container_small{
/*    background-color: #F8F8FF; */
/*    background-color: #E6ECF0; */
    border-radius: 0rem;
}


.left_container {
}


.right_container{
}

/*.bottom_container ol {
    margin-top: 1rem;
    padding-bottom: 2rem;
}

.bottom_container ol {
    padding-left: 2rem;
}*/

.left_container_small {
    margin-top: 2rem;
    display: flex;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-right: 2rem;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: var(--box-background-color);
/*    background-color: #F8F8FF;*/
/*        background-color: #e6e9f9;*/
}

.right_container_small {
    margin-top: 2rem;
/*  display: flex; */
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-right: 2rem;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: var(--box-background-color);
/*    background-color: #F8F8FF;*/
/*    background-color: #e6e9f9;*/
}

.left_subcontainer {
    margin-top: 1rem;
    margin-left: 0%;
    display: flex;
    padding-top: 0rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
    padding-right: 0rem;
}

.right_subcontainer {
    margin-top: 1rem;
    margin-left: 2%;
    display: flex;
    padding-top: 0rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
    padding-right: 0rem;
}

.left_container_small ol,
.left_container_small ul{
    margin: 1rem;
}

.left_container_small li > ol {
    margin: 2rem;
}

.center_container {
    font-family: 'Cormorant'; /* 'Libre Baskerville'; */
    /*width: 70vw;*/
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 3rem;
    background-color: white; /* #fff8e7; */ /* #fff8dc; */ /* #fae7b5; */
}



/*==============================================================================================================*/

/* Footer containers*/

.credits_container {
    height: 2rem;
    padding: 1.5rem;
    padding-left: 2.5rem;
    color: var(--text-color-footer);
}

.credits_container a {
    padding-left: 1.5rem;
}

.credits_container_tablet {
    display: none;
}




/*==============================================================================================================*/


/* Subscribe screen */

.button
    {
      width: 15rem;
      padding: 0.4rem;
      padding-left: 1rem;
      padding-right: 1rem;
      color: white;
      background-color: transparent;
/*       box-shadow: -8px 8px 10px 3px rgba(0,0,0,0.2); */
      border-box: black;
      border-style: solid;
      border-color: white;
      border-radius: 0.5rem;
    }

    #cover{
      position:fixed;
      top:0;
      left:0;
      background:rgba(0,0,0,0.6);
      z-index:5;
      width:100%;
      height:100%;
      display:none;
    }
    #loginScreen
    {
      height: 38rem;
      width: 40vw;
      margin-top: 20rem;
      margin: 0 auto;
      position: relative;
      z-index: 10;
      display: none;
/*      border: 0.4rem solid #cccccc; */
      border-radius:0.5rem;
      padding-left: 5rem;
    }
    #loginScreen:target, #loginScreen:target + #cover{
      display:block;
      opacity:2;
    }
    .cancel
    {
      display:block;
      position:absolute;
      top:3px;
      right:2px;
/*      background:rgb(245,245,245); */
      color:black;
      height:30px;
      width:35px;
      font-size:30px;
/*      text-decoration:none; */
      text-align:center;
      font-weight:bold;
    }
    .cancel:hover {
      color: var(--secondary-background-color);
    }

/* Subscribe form */

    .newsletter_form {
        position: relative;
    }

    input[type=text] {
      width: 60%;
      margin: 0rem 0;
      padding: 0.5rem 0.5rem;
      box-sizing: border-box;
/*      border: 2rem solid grey; */
      border-radius: 0rem;
/*      outline: none; */
    }

    button[type=button] {
      width: 8rem;
      padding: 0.6rem;
      padding-left: 1rem;
      padding-right: 1rem;
      color: black;
      background-color: var(--secondary-background-color);
  /*       box-shadow: -8px 8px 10px 3px rgba(0,0,0,0.2); */
      border-box: black;
      border-style: solid;
      border-color: var(--secondary-background-color);
      border-radius: 0.5rem;
/*      height: 10rem; */
      box-sizing: border-box;
/*      border: 0rem solid #ffa500; */
    }


/*==============================================================================================================*/

/* Id styles */




#nav_checkbox:checked ~ form > ul.nav_menu li {
    display: block;
}

#nav_checkbox:checked ~ form > ul.nav_menu #landing_page_symbol {
    display: none;
}

#nav_checkbox:checked ~ label.nav_toggle .close {
    display: inline;
}

#nav_checkbox:checked ~ label.nav_toggle .menu {
    display: none;
}

#landing_page_symbol {
    display: none;
}


#subnav_reset {
    display:none;
}


.radio {/* Anda*/
    display:flex;
}

#fullScreenContainer {/* Anda*/
    text-align: left;
}

#controlContainer {/* Anda*/
    background-color: #315880;
    padding:10pt;
    color:white;
    display: block;
    text-align: left;
}

.forminput { /* Anda*/
    padding:3pt;
}

.searchdiv {/* Anda*/
    width: 90%;
    text-align: right;
}

#visContainer {/* Anda*/
    text-align: left;
    max-width: 2000;
    margin: auto;
}

#confe {/* Anda*/
    text-align: center;
    max-width: 200rem;
    margin: auto;
}
#confe {/* Anda*/
    text-align: center;
    max-width: 200rem;
    margin: auto;
    background-color: #315880;
    color: white;
    padding: 0.3rem;
    font-size: larger

  }
.video{
    padding: 2rem;
    border: 1rem;

}
